* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 3000px;
    
}

.menu {
    text-Align: Center;
    background-color: white; 
    height: 50px; 
     
}


.intro p { 
    text-align: center;
    margin: auto;
    border: 5px dotted blue; 
    height: 40px;
    width: 500px; 
    margin-top: 80px; 
    color: white; 
    padding: 10px;

